# Ignore all files ending in .db or .sqlite or .env or .pdf
*.db
*.sqlite
*.sqlite3
.env
*.pdf

# Ignore SQL dumps
*.sql

# Ignore specific local database folders
bin/
data/
# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

#Ignore Node.js Modules
node_modules/
#
