fastapi
uvicorn
sqlmodel
psycopg2-binary
python-multipart
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
PyPDF2
python-docx
python-pptx
pillow
requests
pgvector
langchain-core==1.2.22
langchain-community==0.4.1
langchain-text-splitters==1.1.1
langchain-classic==1.0.3
pydantic
pydantic-settings
PyJWT